<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mongolia.dao.FollowMapper" >
  <resultMap id="BaseResultMap" type="com.mongolia.model.entity.Follow" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fol_uid" property="folUid" jdbcType="BIGINT" />
    <result column="be_uid" property="beUid" jdbcType="BIGINT" />
    <result column="is_del" property="isDel" jdbcType="SMALLINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
    
    <resultMap id="ExtensionFansResultMap" type="com.mongolia.model.entity.Follow" extends="BaseResultMap">
        <association property="nikeName" column="fol_uid" select="com.mongolia.dao.UserMapper.selectNikeNameByUid"/>
        <association property="headPortrait" column="fol_uid" select="com.mongolia.dao.UserMapper.selectHeadByUid"/>
    </resultMap>

    <resultMap id="ExtensionBeResultMap" type="com.mongolia.model.entity.Follow" extends="BaseResultMap">
        <association property="nikeName" column="be_uid" select="com.mongolia.dao.UserMapper.selectNikeNameByUid"/>
        <association property="headPortrait" column="be_uid" select="com.mongolia.dao.UserMapper.selectHeadByUid"/>
    </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, fol_uid, be_uid, is_del, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mongolia.model.example.FollowExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from follow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from follow
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from follow
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mongolia.model.example.FollowExample" >
    delete from follow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mongolia.model.entity.Follow" >
    insert into follow (id, fol_uid, be_uid, 
      is_del, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{folUid,jdbcType=BIGINT}, #{beUid,jdbcType=BIGINT}, 
      #{isDel,jdbcType=SMALLINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mongolia.model.entity.Follow" >
    insert into follow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="folUid != null" >
        fol_uid,
      </if>
      <if test="beUid != null" >
        be_uid,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="folUid != null" >
        #{folUid,jdbcType=BIGINT},
      </if>
      <if test="beUid != null" >
        #{beUid,jdbcType=BIGINT},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <select id="countByExample" parameterType="com.mongolia.model.example.FollowExample" resultType="java.lang.Integer" >
    select count(*) from follow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>

    <select id="selectFans" resultMap="ExtensionFansResultMap" parameterType="long">
        SELECT <include refid="Base_Column_List"/> FROM follow WHERE be_uid=#{uid} AND is_del=0
    </select>

    <select id="selectCollect" resultMap="ExtensionBeResultMap" parameterType="long">
        SELECT <include refid="Base_Column_List"/> FROM follow WHERE fol_uid=#{uid} AND is_del=0
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
    update follow
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.folUid != null" >
        fol_uid = #{record.folUid,jdbcType=BIGINT},
      </if>
      <if test="record.beUid != null" >
        be_uid = #{record.beUid,jdbcType=BIGINT},
      </if>
      <if test="record.isDel != null" >
        is_del = #{record.isDel,jdbcType=SMALLINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update follow
    set id = #{record.id,jdbcType=INTEGER},
      fol_uid = #{record.folUid,jdbcType=BIGINT},
      be_uid = #{record.beUid,jdbcType=BIGINT},
      is_del = #{record.isDel,jdbcType=SMALLINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mongolia.model.entity.Follow" >
    update follow
    <set >
      <if test="folUid != null" >
        fol_uid = #{folUid,jdbcType=BIGINT},
      </if>
      <if test="beUid != null" >
        be_uid = #{beUid,jdbcType=BIGINT},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mongolia.model.entity.Follow" >
    update follow
    set fol_uid = #{folUid,jdbcType=BIGINT},
      be_uid = #{beUid,jdbcType=BIGINT},
      is_del = #{isDel,jdbcType=SMALLINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>